<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52263801420-fj9pk6sughtn6q5mq6qd7vov2a5tiigi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52263801420-fj9pk6sughtn6q5mq6qd7vov2a5tiigi</string>
	<key>API_KEY</key>
	<string>AIzaSyBhhMPf2UEAOW7VOZ_5Nvnr1XwjbJthjWM</string>
	<key>GCM_SENDER_ID</key>
	<string>52263801420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MaestroGameStudio.puncherio</string>
	<key>PROJECT_ID</key>
	<string>punchersio</string>
	<key>STORAGE_BUCKET</key>
	<string>punchersio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52263801420:ios:e06762109521b93b199ae9</string>
	<key>DATABASE_URL</key>
	<string>https://punchersio-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>